// @import 'button.scss';

$montserrat: 'Montserrat',
sans-serif;

@mixin paragraph {
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  color: $color-Black;
}

@mixin maintitle {
  font-size: 22px;
  line-height: 140%;
}

$color-Black: #000000;
$color-White: #FFFFFF;
$color-Background: #F5F1EF;
$color-lilac: #7A7E8F;
$color-Complementary: #FC936F;
$color-light-lilac: #A8A8A8;
$color-border: #C5C6CB;
$color-hover: #63687E;
$color-active: #4C5165;
$color-unactive: #A1A1A1;

$base: 2px;

///=== COMMON === // 

p {
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;

}

.dablline {
  position: absolute;
  content: '';
  width: 8vw;
  height: 4px;
  top: 67px;
  border-top: 1px solid $color-border;
  border-bottom: 1px solid $color-border;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  font-size: 72px;
  line-height: 140%;
  margin: 0;
  white-space: nowrap;

}

h2 {
  font-size: 42px;
  color: $color-White;
}

h5 {
  font-size: 42px;
  color: $color-Black;
  display: grid;

  &::after {
    content: '';
    margin: 0px 350px;
    height: 4px;
    border-top: 1px solid $color-border;
    border-bottom: 1px solid $color-border;
  }
}

h6 {
  font-size: 42px;
  color: $color-Black;
}

h6 {
  font-size: 42px;
  color: $color-Black;
  margin-left: 69px;
}



body {
  background-color: $color-Background;
  // font-family: 'Exo 2', sans-serif;
  //  font-family: 'Montserrat', sans-serif
  font-family: $montserrat;
  overflow-x: hidden;
}

.wrapper {
  display: flex;
  justify-content: center;
  // height: 900px;


  &-inner {

    flex-basis: 1598px;
    // max-width: 1598px;
    // min-width: 1562px;
    border-left: $color-border solid 2px;
    // padding-left: 97px;
    // padding-right: 97px;
  }
}

.number {
  color: $color-Complementary;
}

///=== // COMMON === // 

/// ==== MAIN === ///


.title-hero {
  height: 900px;
  display: flex;
}

.main-info {
  padding-left: $base * 50;
  padding-top: 69px;
}

.main-title {
  @include maintitle;
}

.main-picture {
  width: clamp(550px, 53vw, 786px);
  // height: auto;
  // margin-left: 80px;
  position: relative;

  &_inner {
    margin-top: -50px;
    width: 100%;
    position: relative;
    z-index: 3;
  }

  &::after {

    content: '';
    box-sizing: border-box;
    z-index: 1;
    position: absolute;
    top: 0px;
    left: 280px;
    border: 1px solid #C8C9CD;
    width: 550px;
    height: 550px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
  }
}

.absolute-picture {
  position: absolute;
  top: 2px;
  right: -40px;
  z-index: 1;
  max-width: 100%;
  height: auto;
  vertical-align: top;
  right: -118px;

}

/// ==== // MAIN === ///

/// ===\ TAB === ///

/// === // TAB === ///

/// === advantage === ///

.advantage {
  display: flex;
  border-right: 2px solid $color-border;
}

.indicators {
  margin-right: 126px;
}

.advantage-image {
  width: 504px;
  height: 545px;
  width: calc(504 / 1440 * 100%);
  margin-top: 50px;
  margin-left: 50px;
  position: relative;

  &::after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 90%;
    height: 100%;
    top: -50px;
    left: -50px;
    border: 1px solid $color-border;
    border-radius: 10px;
  }
}


.advantages-content {
  margin-left: 126px;
  margin-top: 50px;
  max-width: 740px;

  &_block {
    display: flex;
    background: $color-lilac;
    padding: 48px 40px 51px;
    border-radius: 20px;
    max-width: 740px;
    // padding-left: 40px;
    // min-height: 217px;
    display: flex;
    align-items: center;
  }

  &_description {
    max-width: 650px;
    margin-bottom: 0px;

    font-weight: 500;
    line-height: 140%;
    color: $color-White;
  }
}


.advantages-info {
  display: flex;

  &_item {
    &__downborn {
      border-left: $color-border solid 3px;
      border-bottom: $color-border solid 3px;
      padding-top: 60px;
    }

    &__last {
      padding-top: 60px;
      border-left: $color-border solid 3px;
      border-bottom: $color-border solid 3px;
      // margin-bottom: 1px;
    }

    &__nobord {
      padding-top: 60px;
    }
  }
}

.advantages-inner {
  max-width: 240px;
  text-align: center;
}

.advantages__number {
  font-weight: 500;
  font-size: 48px;
  line-height: 59px;
  margin-bottom: 10px;
  margin-top: 0px;

}


.advantages__advantage {
  text-align: left;
  font-weight: 500;
  line-height: 140%;

  text-align: justify;
  max-width: 180px;

  &-first {
    text-align: left;
    margin: 0px 28px 0px;
  }

  &-second {
    margin: 0px 28px 135px;
    text-align: left;
  }

  &-last {
    margin: 0px 28px 215px;
    text-align: left;
  }
}





/// === // advantage === ///


/// ==== BUTTON ==== ///


.button-1 {
  font-size: 18px;
  font-weight: 600;
  color: $color-White;
  display: inline-flex;
  position: relative;
  max-height: 73px;
  padding: 22px 24px;
  z-index: 2;

  & span {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2;
    white-space: nowrap;
  }

  &::after {
    content: '';
    z-index: 1;
    position: absolute;
    top: 9px;
    left: 10px;
    width: 100%;
    height: 100%;
    background: $color-lilac;
    border-radius: 8px;
  }

  &::before {
    content: '';
    z-index: 2;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    border: 1px solid $color-Black;
  }

  &:hover::after {
    background-color: $color-hover;
  }

  &:active::after {
    background-color: $color-active;
  }
}

.button-3 {
  border: 1px solid $color-Black;
  border-radius: 8px;
  color: $color-Black;
  padding: 22px 65px;
  white-space: nowrap;
  display: inline;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  padding: 18px 70px;

  &:hover {
    color: $color-White;
    border: 1px solid $color-hover;
    background-color: $color-hover;
  }

  &:active {
    color: $color-White;
    background-color: $color-active;
  }
}

/// ==== // BUTTON ==== ///


/// === PRICE ====  ///

.price {
  border-right: 2px solid $color-border;
  display: flex;
  justify-content: space-around
}

.visually-hidden {
  visibility: hidden;
  padding: 0;
  margin: 0;

  // height: 18px;
  &_title {
    visibility: visible;
    font-size: 26px;
    font-weight: bold;

  }

  &_name {
    visibility: hidden;
    margin: 0;
    padding: 0;
  }

  &_price {
    visibility: hidden;
    padding: 0;
    margin: -5px;
  }

  &_describ {
    font-size: 14px;
    color: $color-light-lilac;
    padding: 0px 80px;
  }
}

.banner-cost__col {
  width: 190px;
}

.banner-cost {
  &__title {
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding: 0;
  }

  &__cost {
    color: $color-lilac;
    margin: 0;
    padding: 8px;

    &::after {
      content: '';
      margin: 0px 40px;
      height: 4px;
      border-top: 1px solid $color-border;
      border-bottom: 1px solid $color-border;
    }
  }
}

.price-right {
  position: relative;
  margin-bottom: 230px;

  &::after {
    z-index: -1;
    content: '';
    left: 30px;
    top: 30px;
    height: 594px;
    position: absolute;
    width: 456px;
    border: 1px solid #C5C6CB;
    border-radius: 10px;
  }
}

.banner-photo {}

/// === // PRICE === ///

/// === BANER === ///
.banner {
  margin-top: 0px;
  margin-bottom: 0px;
  // padding-right: 251px;
  display: flex;
  border-right: 2px solid #C5C6CB;

  &__picture {
    max-width: 785px;
  }



}

.bannner-image {
  width: clamp(550px, 53vw, 786px);
}

.banner__body {
  display: flex;
  background-color: white;
  // flex-basis: 1558px;
  width: clamp(1177px, 90vw, 1500px);
  justify-content: space-between;
  margin-left: -220px;
  border-radius: 10px;

}

.banner {
  &__info {
    margin-right: 10px;
    max-width: 600px;
  }


  &__title {
    font-weight: bold;
    font-size: clamp(30px, 2vw, 42px);
    margin-bottom: 24px;
  }


  &__description {
    font-size: clamp(14px, 2vw, 18px);
    margin-bottom: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
  }
}

/// === // BANER ===///


/// === FEEDBEACK === ///

.slider {
  position: relative;
  margin-top: 24px;
  width: 510px;


  &__body {
    min-width: 100%;
    display: flex;
  }

  &__item {
    flex: 0 0 100%;
    max-width: 100%;
    justify-content: center;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
  }

  &__author {
    font-weight: 600;
    font-size: 0.8rem;
  }

  &__text {
    margin-top: 24px;
    font-weight: 500;
    font-size: clamp(14px, 1vw, 18px);
    line-height: 140%;
  }

  &__arrows {
    margin-top: 24px;
    display: flex;
    align-items: center;
  }

  &__arrow {
    padding: 10px 13px;
    border: none;
    background-color: $color-Background;
    margin-bottom: 60px;

    & svg {
      width: 14px;
      height: 27px;
      stroke: $color-Black;
      display: flex;
      align-items: center;
    }

    &:hover svg {
      stroke: $color-hover;
    }

    &._unactive {
      pointer-events: none;

      & svg {
        stroke: $color-unactive;
      }
    }
  }

  & .arrow-prev svg {
    transform: rotate(180deg);
  }
}



.feedbacks {
  &__title {
    font-size: clamp(36px, 3vw, 42px);
    margin-left: 0px;
  }

  &__body {
    display: flex;
    justify-content: space-around;
    margin-top: clamp(150px, 10vw, 202px);
  }


  &__contect {
    position: relative;

    &::after {
      content: '';
      z-index: -1;
      position: absolute;
      top: -101px;
      left: -114px;
      width: 723px;
      height: 723px;
      border-radius: 50%;
      border: 1px solid $color-border;
    }
  }
}

.feedbacks__picture {}

.feedbacks-picture {
  width: clamp(500px, 33vw, 627px);
}




.container-price {
  align-items: center;
}

.banner-cost__cost {
  text-align: center;

  &::after {
    display: block;
    margin-top: 18px;
  }
}

// .contnet-border{
// margin-top: -10px;
// }

// .hide {
//   display: none;
// }

/// === /// FEEDBACK ===///

/// ==== MATERIALS ///
// .outer {
//   display: flex;
//   justify-content: center;
// }

.materials {
  //   display: flex;
  // flex-direction: column;
  border-right: $color-border solid 2px;

}

.materials-title {
  display: flex;
  margin-top: 265px;
  justify-content: flex-start;
  margin-bottom: 32px;
}

.slider-wrapper {
  display: flex;
  position: relative;
  max-width: 1598px;
  align-items: center;
  justify-content: center;
}



.materials-form {
  background-color: $color-White;
  flex-basis: 548px;
  height: 520px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  margin-right: -55px;
  z-index: 1;

  &_inner {
    flex-basis: 428px;
    min-width: 336px;
    padding: 0px 10px;
  }

  &_title {
    margin-top: 60px;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
  }

  &_description {
    text-align: center;
    margin-top: 24px;
    margin-bottom: 24px;
    font-size: 14px;


  }
}

.slider-inner {
  flex-basis: 614px;

  &_title {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
  }

  &_description {
    font-size: 16px;
    text-align: center;
  }
}


.slider-wrapper_inner {
  flex-basis: 791px;
  padding: 0px 65px;
  display: flex;
  justify-content: center;
  align-content: center;
  border: 1px solid #C5C6CB;
  border-radius: 30px;
}

.form {
  text-align: center;
}

.input-form {
  width: 290px;
  margin-bottom: 25px;
  border-radius: 8px;
  border: 1px solid #7A7E8F;
  padding: 22px;
  transition-duration: .25s;

  &::-webkit-input-placeholder {
    color: #c0392b;
    padding-top: 10px;
    margin-top: 12px;
    transition-duration: .25s;
  }
}

#slider_toggle,
#slider_toggle-leatherette,
#slider_toggle-horny,
#slider_toggle-suede,
#slider_toggle-jacquarnd,
#slider_toggle-flock {
  visibility: hidden;
}

.wr {
  display: flex;
}

.contnet-border {
  border-top: 2px solid #C8C9CD;
  flex-basis: 614px;
}


.arrow {
  margin: 7px;
  width: 8px;
  height: 8px;
  border-top: 2px solid black;
  border-right: 2px solid black;
  margin-left: 20px;
  transform: rotate(45deg);
  transition-duration: .25s;
}

.slider_paragraph {
  margin: 0;
}

.slider_content,
.slider_content-leatherette,
.slider_content-horny,
.slider_content-suede,
.slider_content-jacquarnd,
.slider_content-flock {
  transition-duration: .25s;
  visibility: hidden;
  margin-top: -15px;

  &__inner {
    margin: 0px;
  }
}


#slider_toggle:checked~.slider_btn .arrow,
#slider_toggle-jacquarnd:checked~.slider_btn .arrow,
#slider_toggle-leatherette:checked~.slider_btn .arrow,
#slider_toggle-horny:checked~.slider_btn .arrow,
#slider_toggle-suede:checked~.slider_btn .arrow,
#slider_toggle-flock:checked~.slider_btn .arrow {
  transform: rotate(135deg);
  transition-duration: .25s;
}


#slider_toggle:checked~.slider_content,
#slider_toggle-leatherette:checked~.slider_content-leatherette,
#slider_toggle-horny:checked~.slider_content-horny,
#slider_toggle-suede:checked~.slider_content-suede,
#slider_toggle-jacquarnd:checked~.slider_content-jacquarnd,
#slider_toggle-flock:checked~.slider_content-flock {
  display: block;
  visibility: visible;
  padding-top: 25px;
  margin-left: 139px;
  transition-duration: .25s;
}


.more-button {
  margin-top: 24px;
  cursor: pointer;
  border: none;
  font-weight: bold;
  display: flex;
  background-color: $color-Background;

  &:hover {
    color: $color-lilac;
    transition: 0.1s;
  }

  &:active {
    color: black;
    font-size: 16.2px;
  }

  &::after {
    content: '';
    background-color: $color-border;
    height: 2px;
    width: 15px;
    margin-top: 8px;
    margin-left: 8px;
  }

  &::before {
    content: '';
    background-color: $color-border;
    height: 2px;
    width: 15px;
    margin-top: 8px;
    margin-right: 8px;
  }
}

.price-button {
  margin-left: 35%;
}

.more {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  &-total {
    font-weight: bold;
    margin: 0 0 57px 0;
  }

}

.like {
  display: flex;

  &-title {}
}




// /test


/// ==== // MATERIALS ///

/// === FOOTER === ///

footer {
  margin-top: 180px;
  background-color: $color-White;
  margin-top: 57px;
  width: 100%;
}

.footer-wrapper {
  // background-color: $color-White;
}

.footer {


  padding-top: 65px;
  display: flex;
  justify-content: space-evenly;
  border-left: none;

  &__offer {
    max-width: 50%;
  }

  &__title {
    @include maintitle;
    font-weight: bold;
  }

  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
  }

  &__btn {
    margin-top: 24px;
  }

  &__socials {
    height: 150px;
    display: flex;
    // flex-direction: column;
    align-items: center;
  }
}


.footer__icons {
  display: flex;

}

.menu {
  padding: 0;

  &__item {
    cursor: pointer;
    list-style-type: none;
    margin-bottom: 12px;

    &-link {
      text-decoration: none;
      @include paragraph;
    }
  }
}

.phone-link {
  @include paragraph;
  outline: none;
}


/// === // FOOTER === ///
.frame-wrapper {
  width: 672px;
  height: 318px;
  padding-bottom: 405px;
}


.frame-inner {
  display: grid;
  grid-gap: 10px 10px;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 156px 114px;
  grid-template-areas:
    "left text right"
    "left center bottom-right"
}

.item-1 {
  // background-color: re d;
  grid-area: left;
}

.item-2 {
  // background-color: yellow;
  grid-area: text;
}

.item-3 {
  // background-color: green;
  grid-area: center;
}

.item-4 {
  // background-color: rgb(143, 24, 255);
  grid-area: right;
}

.item-5 {
  // background-color: rgb(255, 188, 64);
  grid-area: bottom-right;
}

.tab__picture {
  &-one {
    height: clamp(318px, 34vw, 625px);     
    width: clamp(280px, 33vw, 635px);
  }

  &-two {
    height: clamp(114px, 14vw, 256px);     
    width: clamp(164px, 16vw, 301px);
    padding-top: clamp(0px, 4vw, 203px);
  }

  &-tree {
    height: clamp(194px, 19vw, 359px);     
    width: clamp(156px, 21vw, 407px);
    padding-left: clamp(0px, 6vw, 57px); 
  }

  &-four {
    padding-top: clamp(0px, 11vw, 203px);
    height: clamp(114px, 14vw, 256px);     
    width: clamp(208px, 25vw, 464px);
    
  }

}